
<div>
    <article>
        <form enctype="multipart/form-data" method="POST" action="/handleUpload">
            <input type="file" multiple accept="image/*" name="imagetoupload">  wiele plików
            <input type="submit" value="Send Request" />

        </form>
    </article>
</div>